/*************************** START NAVBAR SECTION *****************************/
/*.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}*/

/* Remove vertical scroll bar when in collapsed mode and selection of social media*/
.navbar-fixed-top .navbar-collapse {
   max-height: 500px;
}

a.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}
.logo {
  height: 50px;
  width: 50px;
}
.navbar {
  background-color: transparent;
  background: black;
  /*background: transparent;*/
  /*background: #22A7F0; /* blue */ */
  border-color: transparent;
  opacity: .8;
  /*background-color: #33CCCC;*/
  /*background-color: #0099FF; /* -- Slightly darker blue */*/
  /*background-color: #00CCFF; /* Lighter blue *?*/
  /*background-color: #0099CC; /* blue */*/
  /*background-color: #00E6B8;*/
  /*background-color: #1fa67a;*/
  /*border-bottom: solid 3px black; --*/
}
/*.navbar .menu-items > a {*/
.navbar li a span{
  color: white;
  /*font-weight: bold;*/
  /*font-size: 20px;*/
}

/*.navbar .nav-pills .active > a {*/
/*li.menu-items.active>a {*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

/*.navbar li .active a span {*/
    /*background-color:#ccc;*/
    background-color: #22A7F0;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
/***************************  END NAVBAR SECTION  *****************************/
/*  START HEADER SECTION*/
.smooth-scroll {
  margin: 0px;
}
div.header-background1 {
  background: url("../img/night-time-downtown-San-Diego.jpg") no-repeat center center;
  opacity: 0.6;
  max-height: 800px;
  min-height: 450px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }
div.header-background {
    position: relative;
    /*background: #5C97FF;*/
    /*background: #000000; /* Black */
    background: #707070; /* Dark Grey  */
    /*background: #999999; /* Light Gray */
    overflow: hidden;
    padding-top: 5em;
    padding-bottom: 3em;
    border-bottom-color: black;
    border-style: solid;
    width: 100%;
    background-repeat: no-repeat;
}

div.header-background::after {
  background-image: url("../img/night-time-downtown-San-Diego.jpg"); <!-- no-repeat center top; -->
  padding-top: 100px;
   content: ' ';
   display: block;
   position: absolute;
   /*position: relative;*/
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0.1;
   /*background-image: url("../img/night-time-downtown-San-Diego.jpg"); <!-- no-repeat center top; -->*/
   /*background-image: url("../img/SD-Paragliders.jpg"); <!-- no-repeat center top; -->*/
   /*background-repeat: no-repeat;*/
   /*background-position: 50% 0;*/
     /*background-size: 100% 100%;*/
   -ms-background-size: contain;
   -o-background-size: contain;
   -moz-background-size: contain;
   -webkit-background-size: contain;
   background-size: contain;
  /*background-image: url("../img/night-time-downtown-San-Diego.jpg"); <!-- no-repeat center top; -->
  background-attachment: relative;
  background-position: center center;
  min-height: 300px;
  width: 100%;
  border-style: solid;
  border-bottom-color: black;
  opacity: 0.4;
  padding: 75px;
  color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;*/
}


div.header-section {
  /*background-color: #00E6B8;*/
  /*background-color: #18bc9c;*/
  background-color: #0099CC; /* blue */
  /*background-color: #1fa67a;*/
  padding: 75px;
  width: 100%;
  border-style: solid;
  /*border-bottom-width: 2vw;*/
  /*border-top-width: 5vw;*/
  border-bottom-color: black;
  /*border-top-color: black;*/
  /*vertical-align: middle;*/
}
/*.section-separator {
  border-style: solid;
  border-bottom-width: 1vw;
  border-bottom-color: black;
}*/
div.photo {
  /*position: absolute; /* Test */*/
  text-align: center;
  height: 100%;
  height: inherit;
  vertical-align: middle;
}
.my-photo {
  /*position: center;*/
  /*height: 17em;
  width: 17em;*/
  border: solid black 1px;
  /*margin: 0px;*/
  /*height: 100%;*/
  /*vertical-align: middle;*/
  /*height: inherit;*/
}
.giant-text {
  /*font-size: 8em;*/
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  margin: 0px;
}
.logo-style {
  text-align: center;
  height: 20vw;
  width: 30vw;
  margin: 0 auto;

}
.banner-text { /* mod delete .image-holder */
  /*font-weight: bold;*/
  text-align: center;
  color: white;
  /*margin-bottom: 0px;*/
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.services h4 {
  text-align: center;
  color: white;
  margin: auto;
}
.services i {
  color: white;
  font-size: 2em;
}

.sub-head {
  /*font-size: 3.5vw;*/
  font-size: 3.5em;
  /*font-weight: 300;*/
  text-align: center;
}
.sub-title {
  font-size: 2.2em;
  text-align: center;
  font-weight: lighter;
  /*margin-top: .02em;*/
  /*margin: auto;*/
}
/*.sub-columns {
  font-size: 2vw;
}*/
.header-separator {
  margin: 1.8em auto 1.8em;
  padding: 0;
  max-width: 35vw;
  border: 0;
  border-top: solid 3px;
  text-align: center;
  overflow: visible;
}
.header-separator::after {
  text-align: center;
  color: #fff;
  /*background-color: #0099CC; /* Originalblue */
  background-color: #0099FF; /* brighter blue */
  /*background-color: #18bc9c; /* green */
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: 'Glyphicons Halflings';
  font-size: 2em;
  content: "\e007";
}
@media screen and (min-width: 100px) {
  .logo-style {
    height: 6em;
    width: 9em;
  }
  .my-photo {
    height: 7em;
    width: 7em;
  }
  .giant-text {
    font-size: 2.5em;
    margin-bottom: .9em;
  }
  .sub-head {
    margin-top: .9em;
    letter-spacing: .02em;
    font-size: 1.5em;
    padding: 0;
  }
  .sub-title {
    font-size: 1.1em;
    text-align: center;
  }
  .contact-form {
    margin-top: 0em;
  }
}
@media screen and (min-width: 320px) {
  .logo-style {
    height: 6em;
    width: 9em;
  }
  .my-photo {
    height: 7em;
    width: 7em;
  }
  .giant-text {
    font-size: 2.5em;
    margin-bottom: .9em;
  }
  .sub-head {
    margin-top: .9em;
    letter-spacing: .02em;
    font-size: 1.5em;
    padding: 0;
  }
  .sub-title {
    font-size: 1.1em;
    text-align: center;
  }
  .contact-form {
    margin-top: 0em;
  }
}

@media screen and (min-width: 380px) {
  .logo-style {
    height: 12em;
    width: 15em;
  }
  .my-photo {
    height: 10em;
    width: 10em;
  }
  .giant-text {
    font-size: 3em;
  }
  .sub-head {
    margin: auto;
    letter-spacing: .02em;
    font-size: 2.0em;
    padding: 0;
  }
  .sub-title {
    font-size: 1.3em;
    text-align: center;
  }
  .contact-form {
    margin-top: 0em;
  }
}
@media screen and (min-width: 475px) {

  .logo-style {
    height: 12em;
    width: 15em;
  }
  .my-photo {
    height: 12em;
    width: 12em;
  }
  .giant-text {
    margin: auto;
    font-size: 3em;
  }
  .sub-head {
    margin: auto;
    letter-spacing: .02em;
    font-size: 2.5em;
    padding: 0;
  }
  .sub-title {
    font-size: 1.7em;
    text-align: center;
  }
  .contact-form {
    margin-top: 2em;
  }
}


@media screen and (min-width: 610px) {

  .logo-style {
    height: 15em;
    width: 18.75em;
  }
  .my-photo {
    height: 12em;
    width: 12em;
  }
  .giant-text {
    margin: auto;
    font-size: 4em;
  }
  .sub-head {
    margin: auto;
    letter-spacing: .02em;
    font-size: 2.5em;
    padding: 0;
  }
  .sub-title {
    font-size: 1.7em;
    text-align: center;
  }
  .contact-form {
    margin-top: 2em;
  }
}
@media screen and (min-width: 1070px) {

  .logo-style {
    height: 18em;
    width: 22.5em;
  }
  .my-photo {
    height: 15em;
    width: 15em;
  }
  .giant-text {
    margin-bottom: .9em;
    /*letter-spacing: .03em;*/
    font-size: 5em;
    padding: 0;
  }
  .sub-head {
    margin-top: .9em;
    letter-spacing: .02em;
    font-size: 3.0em;
    padding: 0;
  }
  .sub-title {
    font-size: 2.0em;
    text-align: center;
  }
}
@media screen and (min-width: 1580px) {

  .logo-style {
    height: 20em;
    width: 30em;
  }
  .my-photo {
    height: 17em;
    width: 17em;
  }

  .giant-text {
    margin-bottom: .2em;
    /*letter-spacing: .001em;*/
    font-size: 6em;
    padding: 0;
  }
  .smaller-text {
    font-size: 3em;
    text-decoration: underline;
  }
  .sub-head {
    margin-top: .75em;
    letter-spacing: .01em;
    /*font-size: 4em;*/
    padding: 0;
  }
  .sub-title {
    font-size: 2.75em;
    text-align: center;
  }
}

/**************  START SUB-HEADER SECTION OF BANNER **************/

.sub-column-heading {
  font-weight: bold;
  text-decoration: underline;
  /*font-size: 1.5em;*/
}
/*@media all and (max-device-width: 720px){
    h1.banner-text {
        font-size: 100px;
        font-weight: bold;
    }
}

@media all and (max-device-width: 640px){
    h1.banner-text {
        font-size: 75px;
        font-weight: bold;
    }
}

@media all and (max-device-width: 320px){
    h1.banner-text {
        font-size: 35px;
        font-weight: bold;
    }
}*/
/*  END HEADER SECTION*/
/**************  END SUB-HEADER SECTION OF BANNER **************/
/******************** WEB CONTENT SECTIONS ***********************/
.wrapper {
  /*border-bottom: solid #22A7F0 2vw;*/
  border-bottom: solid black 2vw;
  margin: 0px;
}
#projects {
  margin: 0px;
}
/* Standalone city-scape scene */
#city-scape {
  background: url("../img/night-time-downtown-San-Diego.jpg"); no-repeat center center;
  opacity: 0.7;
  border: solid;
  min-height: 200px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

.city-scape-image-container {
  padding-right: 0px;
  padding-left: 0px;
}

.webpage-separator {
  /*font-size: 4.5vw;*/
  max-width: 100%;
  border-top: solid 2vw;
  /*margin-top: 1vw;*/
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.portfolio-separator {
  margin: 2.5em auto 3.5em;
  padding: 0;
  max-width: 75vw;
  border: 0;
  border-top: solid 3px;
  text-align: center;
  overflow: visible;
}
.portfolio-separator::after {
  text-align: center;
  color: #fff;
  background-color: #0099CC; /* blue */
  /*background-color: #18bc9c; /* green */*/
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: 'Glyphicons Halflings';
  font-size: 2.5em;
  margin-top: auto;
  content: "\e139";
}

.blog-separator {
  margin: 2.5em auto 3.5em;
  padding: 0;
  max-width: 75vw;
  border: 0;
  border-top: solid 3px;
  text-align: center;
  overflow: visible;
}
.blog-separator::after {
  text-align: center;
  color: #fff;
  background-color: #0099CC; /* blue */
  /*background-color: #18bc9c; /* green */*/
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: 'Glyphicons Halflings';
  font-size: 2.5em;
  margin-top: auto;
  content: "\e043";
}
/*    Test of eliminating duplication in separator (i.e., unique for each)*/
.separator-line {
  /*margin: 25px auto 50px;*/
  margin: 2.5em auto 3.5em;
  /*margin-top: 1.0em;
  margin-bottom: 1.5em;*/
  padding: 0;
  max-width: 75vw;
  border: 0;
  border-top: solid 3px;
  text-align: center;
  overflow: visible;
}
.separator-line::after {
  text-align: center;
  color: #fff;
  background-color: #0099CC; /* blue */
  /*background-color: #18bc9c; /* green */*/
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: 'Glyphicons Halflings';
  font-size: 2.5em;
  margin-top: auto;
  content: attr(data-content);
}


/*                        */
.contact-separator {
  margin: 2.5em auto 3.5em;
  padding: 0;
  max-width: 75vw;
  border: 0;
  border-top: solid 3px;
  text-align: center;
  overflow: visible;
}
.contact-separator::after {
  text-align: center;
  color: #fff;
  background-color: #0099CC; /* blue */
  /*background-color: #18bc9c; /* green */*/
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: 'Glyphicons Halflings';
  font-size: 2.5em;
  margin-top: auto;
  content: "\2709";
}
.section-header-style {
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 2.0em;
  padding-top: 1.5vw;
  margin-bottom: 2.5vw;
}
/*div.lav-background {
  background-color: #b0c4de;
  background-image: url("../img/BlacksBeach.jpg") no-repeat center top;
  opacity: 0.4;
}*/


#sd-beach-scene {
	background: url("../img/SD-Paragliders.jpg") no-repeat center top;
	/*padding-top: 100px;*/
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
  max-height: 600px;
	width: 100%;
  opacity: 0.6;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


div.lav-background {
  background-color: #b0c4de;
}

div.off-white-background {
  background-color: #FAF0E6; <!-- Linen -->
}
/*.smooth-scroll {
  margin-bottom: 3.75em;
}*/
.center-block {
  margin-bottom: 2.0em;
}
.contact-form {
  margin-bottom: 30em;
}

/* Logo stuff*/
.logo-text {
  /*width:200px;*/
  /*border:4px solid #222;*/
  /*height:200px;*/
  /*text-align: right;*/
  position: absolute;
  text-align: center;
  float: left;
}
.design-logo-part {
  font-size: 45px;
  /*position: absolute;*/
  text-align: right;
  float: right;
}
.text-rotation {
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  /*-webkit-transform-origin: right bottom;*/
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
}

.contact-form {
  margin-top: 0em;
}
/* FOOTER */
#footer {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #22A7F0;
}

#footer i {
	margin-right: 30px;
	font-size: 35px;
}

#footer a {
	color: white;
}
.centered {
  text-align: center;
}
/* -------------------------Test with image opacity -------------------- */
.my-container {
    position: relative;
    overflow: hidden;
}
.my-container h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
}
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}
#image {
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../img/1night-time-downtown-San-Diego.jpg");
    /*opacity: .6;*/
}
#image-inner {
    display: block;
    height: 0;
    padding-top: 63.3%;
}
div.image-holder {
  display: block;
}
.image-holder {
  position: relative;
}
